.widebox {
    display: flex;

}

.box {
    display: flex;
    flex-direction: column;
    width: 300px;

    align-items: center;
    margin: 5px;
    border: 1px solid black;

}

.box img {
    border-radius: 50%;
}